<header class="navbar navbar-expand-lg navbar-light py-0">
  <div class="container">
    <a class="navbar-brand d-none d-lg-inline-block" href="/"><img class="navbar-brand-dark" src="{{ '/assets/img/pauseofsted.svg' | relative_url }}" alt="{{ site.name }}"></a>
    <button
      id="toggleNav"
      class="navbar-toggler"
      type="button">
      <span class="top"></span>
      <span class="middle"></span>
      <span class="bottom"></span>
    </button>
    {% include navigation.html %}
  </div>
</header>
