<section class="section py-0">
  <div class="container">
    <div class="row position-relative align-items-center no-gutters z-2">
      <div class="col">
        <!-- Card -->
        <div class="card-group">
          <div class="card border-left-md border-light py-2 px-3 py-lg-4 px-lg-5">
            <div class="card-body">
              <h4>Join the Conversation</h4>
              <p class="lead mt-3 mb-4">Get social with us here:</p>
              <ul class="list-inline mb-0">
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="btn btn-link btn-facebook" rel="noopener nofollow" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Like us on Facebook">
                    <span class="icon icon-sm">
                      <i class="fab fa-facebook"></i>
                    </span>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#" target="_blank" class="btn btn-link btn-twitter" rel="noopener nofollow" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Follow us on Twitter">
                    <span class="icon icon-sm">
                      <i class="fab fa-twitter"></i>
                    </span>
                  </a>
                </li>
              </ul>
              <!-- End Social Networks -->
            </div>
          </div>
          <div class="card border-left-md border-light py-2 px-3 py-lg-4 px-lg-5">
            <div class="card-body">
              <h4>Lorem ipsum dolor sit?</h4>
              <p class="lead mt-3 mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at consequat leo. Morbi faucibus augue magna, sed.</p>
              <a href="#" class="text-white btn btn-md btn-primary animate-up-2 mr-3"><i class="fas fa-info mr-1"></i> Another Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
