$primary: #F3A950;
$secondary: #64ACAB;
$font-family-sans-serif: museo-sans, sans-serif;
$headings-font-family: bebas-neue, sans-serif;
$spacer: 1rem;
$spacers: ();
$spacers: map-merge(
  (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 5),
    7: ($spacer * 7),
    8: ($spacer * 10),
    9: ($spacer * 12),
    10: ($spacer * 14),
    11: ($spacer * 18),
    12: ($spacer * 22)
  ),
  $spacers
);
