---
title: home
layout: default
---

<section id="hero" class="section--hero bg-light text-dark">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 d-md-none">
        <h1 class="display-2 font-weight-bold mb-0">We<span class="font-weight-bold"> safeguard </span>the environment.</h1>
      </div>
      <div class="col-8 col-md-7 col-lg-6 order-lg-1">
        <!-- Heading -->
        <h1 class="display-2 font-weight-bold d-none d-md-inline">We need edu reform.</h1>
        <!-- Text -->
        <p class="lead text-muted mt-4">Over the past several years, our education system<br class="d-none d-lg-inline">has failed us. It's time to hold policy makers accountable.</p>
        <!-- Buttons -->
        <div class="mt-4 mt-lg-5 mb-5 mb-lg-0">
          <a href="/about" class="text-white btn btn-md btn-primary animate-up-2 mr-3"><i class="fas fa-book-reader mr-2"></i> About</a>
          <a href="#" class="text-white btn btn-md btn-secondary animate-up-2 d-none d-lg-inline-block"><i class="fas fa-file-download mr-2"></i> Download report</a>
        </div>
      </div>
      <div class="col-4 col-md-5 col-lg-6 order-lg-2">
        <!-- Image -->
        <img src="{{ '/assets/img/school-icons.svg' | relative_url }}" class="img-fluid mb-lg-6 mb-0" alt="School Icons">
      </div>
    </div>
  </div>
</section>

<section class="section--lg py-0">
  <div class="container mt-n5 mt-md-n6">
    <div class="row">
      <div class="col-12">
        <!-- Card -->
        <div class="card-group">
          <div class="card border-left-md border-light">
            <div class="card-body text-center">
              <h6 class="font-weight-bold mb-2">Students Graduated</h6>
              <!-- Heading -->
              <h2 class="mb-0">
                <span class="text-danger mr-2">
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
                <span class="counter text-secondary display-3 mr-2">12%</span>
              </h2>
              <!-- Text -->
              <span class="text-center text-muted">per year</span>
            </div>
          </div>
          <div class="card border-left-md border-light">
            <div class="card-body text-center">
              <h6 class="font-weight-bold mb-2">Administrator Bonuses</h6>
              <!-- Heading -->
              <h2 class="mb-0">
                <span class="text-danger mr-2">
                  <i class="fas fa-long-arrow-alt-up"></i>
                </span>
                <span class="counter text-secondary display-3 mr-2">$22k</span>
              </h2>
              <!-- Text -->
              <span class="text-center text-muted">per year</span>
            </div>
          </div>
          <div class="card border-left-md border-light">
            <div class="card-body text-center">
              <h6 class="font-weight-bold mb-2">Educated Job Force</h6>
              <!-- Heading -->
              <h2 class="mb-0">
                <span class="text-danger mr-2">
                  <i class="fas fa-long-arrow-alt-down"></i>
                </span>
                <span class="counter text-secondary display-3 mr-2">23%</span>
              </h2>
              <!-- Text -->
              <span class="text-center text-muted">per year</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--lg">
  <div class="container">
    <div class="row mb-4 mb-lg-6">
      <div class="col-lg-6 pr-lg-5">
        <p class="h5 font-weight-bold lh-180">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac ex ut lorem congue fringilla. Maecenas rhoncus nisi nec consectetur pretium. Nam eleifend orci viverra turpis fringilla, ut suscipit.</p>
      </div>
      <div class="col-lg-6">
        <p class="lead lh-180">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam vel efficitur mauris. Maecenas libero felis, pellentesque nec hendrerit a, porta sed lorem. Fusce bibendum suscipit tortor, id feugiat turpis dictum non. Aenean viverra ante non efficitur tincidunt. Aliquam tellus leo, aliquet non lacus eget, lobortis porta augue. Praesent a maximus libero, eu lacinia lorem. Suspendisse bibendum ut.</p>
        <p class="lead lh-180">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus feugiat purus urna, in semper sapien consequat non. Mauris tristique mi et purus elementum luctus. Donec.</p>
      </div>
    </div>
    <div class="col text-center">
      <a href="/about" class="text-white btn btn-md btn-primary animate-up-2 mr-3"><i class="fas fa-book-open mr-2"></i> Learn More</a>
    </div>
  </div>
</section>
